name: Reusable Windows workflow

on:
  workflow_call:
    inputs:
      image:
        description: Window Server image
        required: true
        type: string
      msvc:
        description: MSVC version (2019/2022)
        default: "2022"
        type: string
      vcpkg-deps-tag:
        description: Git tag of our deps
        required: true
        type: string
      build-type:
        default: RelWithDebInfo
        type: string
      package:
        default: false
        type: boolean
      release:
        default: false
        type: boolean

jobs:
  Windows:
    name: windows-${{ inputs.image }}
    runs-on: windows-${{ inputs.image }}
    
    steps:
    - name: Install NSIS
      if: ${{ inputs.package }}
      run: choco install nsis

    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Create directories for dependencies
      run: |
        New-Item -ItemType Directory -Force -Path "${{ github.workspace }}/deps/Qt"

    - name: Download prebuilt vcpkg packages
      working-directory: ${{ github.workspace }}/deps
      shell: pwsh
      run: |
        $MANIFEST = "vcpkg-x64-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}.txt"
        $BASE_URL = "https://gitlab.com/OpenMW/openmw-deps/-/raw/main/windows"
        
        # Download Manifest
        curl --fail --retry 3 -L -o "$MANIFEST" "$BASE_URL/$MANIFEST"
        
        $lines = Get-Content "$MANIFEST"
        $URL = $lines[0]
        $split = -split $lines[1]
        $HASH = $split[0]
        $FILE = $split[1]
        
        # Download Archive
        curl --fail --retry 3 -L -o "$FILE" "$URL"
        
        # Verify Hash
        $filehash = Get-FileHash "$FILE" -Algorithm SHA512
        if ( $filehash.hash -ne "$HASH" ) {
          Write-Error "Hash mismatch! Expected $HASH but got $($filehash.hash)"
          exit 1
        }
        echo "archive=$FILE" >> $env:GITHUB_ENV

    - name: Extract prebuilt vcpkg packages
      working-directory: ${{ github.workspace }}/deps
      run: 7z x -y -ovcpkg-x64-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }} $env:archive

    - name: Cache Qt
      id: qt-cache
      uses: actions/cache@v4
      with:
        path: ${{ github.workspace }}/deps/Qt/6.6.3/msvc2019_64
        key: qt-cache-6.6.3-msvc2019_64-v1

    - name: Download and Install Qt (aqt)
      if: steps.qt-cache.outputs.cache-hit != 'true'
      working-directory: ${{ github.workspace }}/deps/Qt
      shell: pwsh
      run: |
        curl --fail --retry 3 -L -o aqt_x64.exe https://github.com/miurahr/aqtinstall/releases/download/v3.1.15/aqt_x64.exe
        .\aqt_x64.exe install-qt windows desktop 6.6.3 win64_msvc2019_64

    - uses: ilammy/msvc-dev-cmd@v1
    - uses: seanmiddleditch/gha-setup-ninja@master

    - name: Configure OpenMW
      run: >
        cmake
        -S .
        -B ${{ github.workspace }}/build
        -G Ninja
        -D CMAKE_BUILD_TYPE=${{ inputs.build-type }}
        -D CMAKE_TOOLCHAIN_FILE='${{ github.workspace }}/deps/vcpkg-x64-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}/scripts/buildsystems/vcpkg.cmake'
        -D CMAKE_PREFIX_PATH='${{ github.workspace }}/deps/Qt/6.6.3/msvc2019_64'
        ${{ inputs.package && '-D CMAKE_CXX_FLAGS_RELEASE="/O2 /Ob2 /DNDEBUG /Zi" -D "CMAKE_EXE_LINKER_FLAGS_RELEASE=/DEBUG /INCREMENTAL:NO"' || '' }}
        -D LuaJit_INCLUDE_DIR='${{ github.workspace }}/deps/vcpkg-x64-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}/installed/x64-windows/include/luajit'
        -D LuaJit_LIBRARY='${{ github.workspace }}/deps/vcpkg-x64-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}/installed/x64-windows/lib/lua51.lib'
        -D BUILD_BENCHMARKS=${{ ! inputs.package }}
        -D BUILD_COMPONENTS_TESTS=${{ ! inputs.package }}
        -D BUILD_OPENMW_TESTS=${{ ! inputs.package }}
        -D BUILD_OPENCS_TESTS=${{ ! inputs.package }}
        -D OPENMW_USE_SYSTEM_SQLITE3=OFF
        -D OPENMW_USE_SYSTEM_YAML_CPP=OFF
        -D OPENMW_LTO_BUILD=ON
        -D OPENMW_UNITY_BUILD=ON
        -D OPENMW_MP_BUILD=ON
        ${{ inputs.package && '-D "VCREDIST64=$env:VCToolsRedistDir/vc_redist.x64.exe"' || '' }}

    - name: Build OpenMW
      run: cmake --build ${{ github.workspace }}/build --parallel

    - name: Copy Dependencies (DLLs)
      shell: pwsh
      run: |
        $VCPKG_BIN = "${{ github.workspace }}/deps/vcpkg-x64-${{ inputs.msvc }}-${{ inputs.vcpkg-deps-tag }}/installed/x64-windows/bin"
        $BUILD_DIR = "${{ github.workspace }}/build"
        $QT_DIR = "${{ github.workspace }}/deps/Qt/6.6.3/msvc2019_64"

        # VCPKG DLLs
        Copy-Item "$VCPKG_BIN/Release/MyGUIEngine.dll" -Destination $BUILD_DIR
        Copy-Item "$VCPKG_BIN/osgPlugins-3.6.5" -Destination $BUILD_DIR -Recurse
        Copy-Item "$VCPKG_BIN/*.dll" -Destination $BUILD_DIR

        # Qt DLLs
        $QtBins = @("Qt6Core", "Qt6Gui", "Qt6Network", "Qt6OpenGL", "Qt6OpenGLWidgets", "Qt6Widgets", "Qt6Svg")
        foreach ($dll in $QtBins) {
            Copy-Item "$QT_DIR/bin/$dll.dll" -Destination $BUILD_DIR
        }

        # Qt Plugins
        New-Item -Force -ItemType Directory -Path "$BUILD_DIR/styles", "$BUILD_DIR/platforms", "$BUILD_DIR/imageformats", "$BUILD_DIR/iconengines"
        Copy-Item "$QT_DIR/plugins/styles/qwindowsvistastyle.dll" "$BUILD_DIR/styles"
        Copy-Item "$QT_DIR/plugins/platforms/qwindows.dll" "$BUILD_DIR/platforms"
        Copy-Item "$QT_DIR/plugins/imageformats/qsvg.dll" "$BUILD_DIR/imageformats"
        Copy-Item "$QT_DIR/plugins/iconengines/qsvgicon.dll" "$BUILD_DIR/iconengines"

    - name: Handle Symbols (PDBs)
      working-directory: ${{ github.workspace }}/build
      run: |
        ${{ github.workspace }}\CI\Store-Symbols.ps1
        Move-Item ${{ github.workspace }}\build\SymStore ${{ github.workspace }}
        robocopy . pdb *.pdb /MOVE
        if ($lastexitcode -lt 8) { $global:LASTEXITCODE = 0 }

    - name: Install OpenMW (Local)
      if: ${{ ! inputs.package }}
      run: cmake --install ${{ github.workspace }}/build --prefix ${{ github.workspace }}/install

    - name: Package OpenMW (CPack)
      if: ${{ inputs.package }}
      run: |
        cpack --config "${{ github.workspace }}/build/CPackConfig.cmake" -B "${{ github.workspace }}/install"
        Remove-Item -Recurse -Force "${{ github.workspace }}/install/_CPack_Packages"

    - name: Generate CI-ID
      shell: bash
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        job_url=$(gh run --repo ${{ github.repository }} view ${{ github.run_id }} --json jobs --jq '.jobs[] | select(.name == "windows-${{ inputs.image }}") | .url')
        printf "Ref ${{ github.ref }}\nJob ${job_url}\nCommit ${{ github.sha }}\n" > CI-ID.txt
        # Copy to relevant folders if they exist
        [ -d "install" ] && cp CI-ID.txt install/CI-ID.txt
        [ -d "pdb" ] && cp CI-ID.txt pdb/CI-ID.txt
        [ -d "SymStore" ] && cp CI-ID.txt SymStore/CI-ID.txt

    - name: Upload Artifacts (PDB)
      uses: actions/upload-artifact@v4
      with:
        name: openmw-windows-${{ inputs.msvc }}-pdb-${{ github.sha }}
        path: ${{ github.workspace }}/pdb/*
        retention-days: 5

    - name: Upload Artifacts (Build)
      uses: actions/upload-artifact@v4
      with:
        name: openmw-windows-${{ inputs.msvc }}-${{ github.sha }}
        path: ${{ github.workspace }}/install/*
        retention-days: 5

    - name: Upload Artifacts (SymStore)
      uses: actions/upload-artifact@v4
      with:
        name: openmw-windows-${{ inputs.msvc }}-sym-store-${{ github.sha }}
        path: ${{ github.workspace }}/SymStore/*
        retention-days: 5

    - name: Upload to S3 Symbol Server
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: eu-west-3
      if: ${{ env.AWS_ACCESS_KEY_ID != '' && env.AWS_SECRET_ACCESS_KEY != '' && inputs.package }}
      working-directory: ${{ github.workspace }}/SymStore
      run: |
        # Use portable awscli to avoid choco install issues
        curl.exe -o awscliv2.zip https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
        # Note: AWS CLI installation on GHA Windows can be flaky. 
        # If the pre-installed version works, stick with it, otherwise consider ignoring errors.
        aws --endpoint-url https://rgw.ctrl-c.liu.se s3 sync --size-only --exclude * --include *.ex_ --include *.dl_ --include *.pd_ . s3://openmw-sym

    - name: Tests
      if: ${{ ! inputs.package }}
      working-directory: ${{ github.workspace }}/build
      run: |
        ./components-tests.exe
        ./openmw-tests.exe
        ./openmw-cs-tests.exe
        ./openmw_detournavigator_navmeshtilescache_benchmark.exe
        ./openmw_settings_access_benchmark.exe
        ./openmw_esm_refid_benchmark.exe

    - name: Create Prerelease
      if: ${{ inputs.release }}
      uses: softprops/action-gh-release@v2
      with:
        files: ${{ github.workspace }}/install/*.exe
        prerelease: true
        draft: true
